<template>
  <require from="bootstrap/dist/css/bootstrap.css"></require>
  <require from="@fortawesome/fontawesome-free/css/all.min.css"></require>

  <div class="container">
    <div class="menu m-3">
      <ul class="nav nav-pills">
        <li repeat.for="nav of router.navigation" class="nav-item">
          <a class="nav-link ${nav.isActive ? 'active' : ''}" href.bind="nav.href">${nav.title}</a>
        </li>
      </ul>
    </div>
  </div>

  <router-view></router-view>

</template>
